<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Grupo_7_ArundelFabrega</title>
  </head>
  <body>
    <video id="video" width="640" height="360" controls>
      <source src="/src/video/movie.mp4" type="video/mp4" />
      <track
        id="myTrack"
        src="/src/video/subtitulos.vtt"
        kind="subtitles"
        srclang="es"
        label="Subtitulos"
        default
      />
      Your browser does not support the video tag.
    </video>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
    <div id="time-display">
      <p>Start time: <span id="start-time">0</span></p>
      <p>End time: <span id="end-time">0</span></p>
    </div>
    <script src="/src/script5.js"></script>
  </body>
</html>
